<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<resourceConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Last</name>
    <id>LAST</id>
    <help>Last aligner. Obtained from http://last.cbrc.jp/</help>
    <version>230</version>
    <files>
        <file>
            <id>EXEC_PATH</id>
            <filename>lastal</filename>
        </file>
        <file>
            <id>INDEXER</id>
            <filename>lastdb</filename>
        </file>
        <file>
            <id>EXPECT</id>
            <filename>lastex</filename>
        </file>
        <file>
            <id>BISULFITE_FORWARD_SEED</id>
            <filename>bisulfite_f.seed</filename>
        </file>
        <file>
            <id>BISULFITE_REVERSE_SEED</id>
            <filename>bisulfite_r.seed</filename>
        </file>
        <file>
            <id>BISULFITE_FORWARD_MATRIX</id>
            <filename>bisulfite_f.mat</filename>
        </file>
        <file>
            <id>BISULFITE_REVERSE_MATRIX</id>
            <filename>bisulfite_r.mat</filename>
        </file>
        <file>
            <id>MERGE_BATCHES_EXEC</id>
            <filename>last-merge-batches.py</filename>
        </file>
        <file>
            <id>MAP_PROBS_EXEC</id>
            <filename>last-map-probs.py</filename>
        </file>
        <!-- Directory that contains additional files.  -->
        <file>
            <id>SCRIPTS</id>
            <filename>scripts</filename>
            <isDirectory>true</isDirectory>
        </file>
    </files>
</resourceConfig>
