<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<taskConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Process Reads</name>
    <id>PROCESS_READS_TASK</id>
    <help>Process read files after upload to convert them to compact reads.</help>
    <version>1.0</version>
    <requires>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20140317155722</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="4g"/>
        <need scope="PROCESS" key="virtual_free" value="6g"/>
        <need scope="INSTALL_ARTIFACTS" key="excl" value="true"/>
        <need scope="INSTALL_ARTIFACTS" key="h_vmem" value="4g"/>
        <need scope="INSTALL_ARTIFACTS" key="virtual_free" value="6g"/>
        <need scope="ALIGN" key="os" value="rhel5.4"/>
        <need scope="PROCESS_JVM" value="4g"/>
    </runtime>
    <executableIOSchema>
        <input>
            <inputSlot>
                <name>UPLOADS_FILES</name>
                <type maxOccurs="10000" minOccurs="1">
                    <id>SUPPORTED_INPUT_READS</id>
                    <versionAtLeast>1.0</versionAtLeast>
                </type>
            </inputSlot>
            <inputSlot>
                <name>UPLOAD_MERGE_PLAN</name> <!-- The Details file that tells us how input files needto be merged,
                concatenated, etc. -->
                <type maxOccurs="1" minOccurs="1">
                    <id>GOBYWEB_MERGE_PLAN_FILE</id>
                    <versionAtLeast>1.0</versionAtLeast>
                </type>
            </inputSlot>
        </input>
        <output>
            <outputSlot>
                <name>COMPACT_READ_FILES</name>
                <type>
                    <id>COMPACT_READS</id>
                    <versionExactly>1.0</versionExactly>
                </type>
            </outputSlot>
            <outputSlot>
                <name>READ_QUALITY_STATS</name>
                <type>
                    <id>READ_QUALITY_STATS</id>
                    <versionExactly>1.0</versionExactly>
                </type>
            </outputSlot>
        </output>
    </executableIOSchema>
</taskConfig>