<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2013  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignerConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>BWA with Goby support (auto-install)</name>
    <id>BWA_GOBY_ARTIFACT</id>
    <help>Version of BWA that supports Goby formats natively, auto-install version of the plugin.</help>
    <version>1.2</version>
    <supportsColorSpace>true</supportsColorSpace>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <supportsPairedEndAlignments>true</supportsPairedEndAlignments>
    <supportsBAMAlignments>false</supportsBAMAlignments>
    <supportsGobyReads>true</supportsGobyReads>
    <supportsFastqReads>false</supportsFastqReads>
    <supportsFastaReads>false</supportsFastaReads>
    <!-- indexDirectory is no longer used -->
    <indexDirectory>%NODE_LOCAL_DATA_ROOT%/%VERSION%/%ORGANISM%/%SPACE%/bwa</indexDirectory>
    <requires>
        <resource>
            <id>BWA_WITH_GOBY_ARTIFACT</id>
            <versionAtLeast>0.5.9.16.6</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="ALIGN" key="excl" value="false"/>
        <need scope="ALIGN" key="h_vmem" value="6g"/>
        <need scope="ALIGN" key="virtual_free" value="6g"/>
        <need scope="ALIGN_JVM" value="4g"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="excl" value="false"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="h_vmem" value="10g"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="virtual_free" value="10g"/>
    </runtime>
    <options>

        <option>
            <id>SAMPE_SAMSE_OPTIONS</id>
            <name>Options for samse/sampe phase</name>
            <help>Provide any additional BWA option here following the syntax expected by bwa samse/sampe.</help>
            <required>false</required>
            <defaultsTo></defaultsTo>
            <type>STRING</type>
            <flagFormat>%s</flagFormat>
            <includeSpaces>true</includeSpaces>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>AMBIGUITY_THRESHOLD</id>
            <dbLegacyId>ambiguityThreshold</dbLegacyId>
            <name>Ambiguity threshold</name>
            <help>The maximum number of reference sequence locations that can be matched for a read to be considered
                non-ambiguous.
            </help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>true</autoFormat>
            <flagFormat>-n %s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>MAXIMUM_NUMBER_GAP_OPENS</id>
            <dbLegacyId>bwaMaximumNumberGapOpens</dbLegacyId>
            <name>Max Number Gap Opens</name>
            <help>Maximum number of gap opens</help>
            <required>true</required>
            <autoFormat>true</autoFormat>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <flagFormat>-o %s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>MAXIMUM_NUMBER_GAP_EXTENSIONS</id>
            <dbLegacyId>bwaMaximumNumberGapExtensions</dbLegacyId>
            <name>Max Number Gap Extensions</name>
            <help>Maximum number of gap extensions, -1 for k-difference mode (disallowing long gaps)</help>
            <required>true</required>
            <autoFormat>true</autoFormat>
            <defaultsTo>-1</defaultsTo>
            <type>INTEGER</type>
            <flagFormat>-e %s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <!--option>
            <id>align_type</id>
            <name>Alignment type</name>
            <help>Help text</help>
            <required>false</required>
            <type>CATEGORY</type>
            <categories>
                <category>cmet</category>
                <category>other</category>
            </categories>
            <autoFormat>true</autoFormat>
            <flagFormat>&dash;&dash;align-type=%s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>some_flag</id>
            <name>Some flag</name>
            <help>Help text</help>
            <required>false</required>
            <type>BOOLEAN</type>
            <autoFormat>true</autoFormat>
            <flagFormat>&dash;&dash;flag</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option-->
    </options>
</alignerConfig>
