<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fileSetConfig xsi:noNamespaceSchemaLocation="../../../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Lucene Index directory</name>
    <id>LUCENE_INDEX</id>
    <help>A directory containing a Lucene Index.</help>
    <version>1.0</version>
    <directories>
        <selector>
            <id>INDEX_DIR</id>
            <pattern>*.lucene.index</pattern>
            <mandatory>true</mandatory>
        </selector>
    </directories>
    <attributes>
        <attribute name="TABLENAME"/>
        <attribute name="GENOME_REFERENCE_ID"/>
        <attribute name="ORGANISM"/>
    </attributes>
</fileSetConfig>