<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2015  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>QC: Infer Sex</name>
    <id>INFER_SEX</id>

    <help>Infer the sex of samples using the number of matches to X and Y Chromosome. Useful as a quality control step.
    </help>
    <version>1.0.0</version>
    <analysisType>SequenceVariants</analysisType>
    <minimumNumberOfGroups>1</minimumNumberOfGroups>
    <maximumNumberOfGroups>1</maximumNumberOfGroups>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesTabDelimitedOutput>true</producesTabDelimitedOutput>
    <producesVariantCallingFormatOutput>false</producesVariantCallingFormatOutput>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <copyWeightFiles>false</copyWeightFiles>
    <requires>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20150227145140</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="GLOBAL" key="h_vmem" value="5G"/>
        <need scope="GLOBAL" key="virtual_free" value="5G"/>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="5G"/>
        <need scope="PROCESS" key="virtual_free" value="5G"/>
        <need scope="PROCESS_JVM" value="4G"/>
        <need scope="COMBINE" key="excl" value="false"/>
        <need scope="COMBINE" key="h_vmem" value="5G"/>
        <need scope="COMBINE" key="virtual_free" value="5G"/>
        <need scope="COMBINE_JVM" value="4G"/>
    </runtime>


    <outputSchema>
        <outputFile>
            <id>STATS_RESULTS_DB</id>
            <name>table of statistics</name>
            <required>false</required>
            <mimeType>application/x-sqlite3</mimeType>
            <tableName>stats</tableName>
            <filename>stats.db</filename>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains called
                variations.
            </help>
        </outputFile>
        <!--outputFile>
            <id>VARIANT_ANNOTATION_PREDICTOR_OUTPUT</id>
            <name>variant annotation predictor output</name>
            <required>false</required>
            <mimeType>application/lucene-index</mimeType>
            <tableName>vep</tableName>
            <filename>vep.lucene.index</filename>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains output form the
                Variant Annotation Predictor tool (VEP).
            </help>
        </outputFile-->
        <outputFile>
            <id>STATS_RESULTS_LUCENE_INDEX</id>
            <name>table of statistics</name>
            <required>true</required>
            <mimeType>application/lucene-index</mimeType>
            <tableName>stats</tableName>
            <filename>stats.lucene.index</filename>
            <help>View the table of results in the interactive GobyWeb table browser. The table was generated by the
                Goby infer-sex mode.
            </help>
        </outputFile>
        <outputFile>
            <id>STATS_RESULTS</id>
            <name>Statistics</name>
            <required>true</required>
            <mimeType>text/tab-separated-values</mimeType>
            <filename>inferred-sex.tsv</filename>
            <help>Statistics with inferred sex for each alignment. The table was generated by the
                Goby infer-sex mode.
            </help>
        </outputFile>
    </outputSchema>
</alignmentAnalysisConfig>
