<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<resourceConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Goby</name>
    <id>GOBY</id>
    <help>Goby framework and toolbox. See http://goby.campagnelab.org.</help>
    <version>20130413162635</version>
    <files>
        <file>
            <id>GOBY_JAR</id>
            <filename>goby.jar</filename>
        </file>
         <file>
            <id>SHELL_SCRIPT</id>
            <filename>goby-script.sh</filename>
        </file>
    </files>
</resourceConfig>
