<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fileSetConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Goby sbi/sbip files</name>
    <id>TEST_DIRECTORY</id>
    <help>Directory with Sequence Base Information (.sbi/.sbip) files</help>
    <version>1.0</version>
    <mimeType>application/test-directory</mimeType>
    <directories>
        <selector>
            <id>DIRECTORY</id>
            <pattern>output-directory</pattern>
            <mandatory>true</mandatory>
        </selector>
    </directories>
    <attributes>
        <attribute name="BASENAME"/>
        <attribute name="TAG"/>
        <attribute name="ORGANISM"/>
        <attribute name="GENOME_REFERENCE_ID"/>
    </attributes>
</fileSetConfig>
