<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2013  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignerConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>BWA mem (auto-install)</name>
    <id>BWA_MEM_ARTIFACT</id>
    <help>BWA mem, result converted to Goby format</help>
    <version>1.0.1</version>
    <supportsColorSpace>true</supportsColorSpace>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <supportsPairedEndAlignments>true</supportsPairedEndAlignments>
    <supportsBAMAlignments>false</supportsBAMAlignments>
    <supportsGobyReads>true</supportsGobyReads>
    <supportsFastqReads>false</supportsFastqReads>
    <supportsFastaReads>false</supportsFastaReads>
    <!-- indexDirectory is no longer used -->
    <indexDirectory>%NODE_LOCAL_DATA_ROOT%/%VERSION%/%ORGANISM%/%SPACE%/bwa</indexDirectory>
    <requires>
        <resource>
            <id>BWA07</id>
            <versionAtLeast>0.7.15.1</versionAtLeast>
        </resource>
        <resource>
            <id>GOBY3</id>
            <versionExactly>3.2.1.-2</versionExactly>
        </resource>
        <resource>
            <id>GOBY_INDEXED_GENOMES</id>
            <versionAtLeast>1.0.1</versionAtLeast>
        </resource>
        <resource>
            <id>SAMTOOLS</id>
            <versionAtLeast>0.1.18.1</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="ALIGN" key="excl" value="true"/>
        <need scope="ALIGN" key="h_vmem" value="12G"/>
        <need scope="ALIGN" key="virtual_free" value="12G"/>
        <need scope="ALIGN_JVM" value="8G"/>
        <!-- It is not clear why we need so much more memory than the amount given to the JVM (8g as of
        this commit, but some jobs fail when given "only" 3g extra as the SGE limit (11g). -->
        <need scope="ALIGNMENT_POST_PROCESSING" key="excl" value="false"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="h_vmem" value="15G"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="virtual_free" value="15G"/>

        <need scope="GLOBAL" key="excl" value="true"/>
        <need scope="GLOBAL" key="h_vmem" value="12G"/>
        <need scope="GLOBAL" key="virtual_free" value="12G"/>

    </runtime>
    <options>
        <option>
            <id>MEM_OPTIONS</id>
            <name>Options for bwa mem</name>
            <help>Provide any additional options here following the syntax expected by bwa mem.</help>
            <required>false</required>
            <defaultsTo></defaultsTo>
            <type>STRING</type>
            <flagFormat>%s</flagFormat>
            <includeSpaces>true</includeSpaces>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>AMBIGUITY_THRESHOLD</id>
            <dbLegacyId>ambiguityThreshold</dbLegacyId>
            <name>Ambiguity threshold</name>
            <help>The maximum number of reference sequence locations that can be matched for a read to be considered
                non-ambiguous.
            </help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>true</autoFormat>
            <flagFormat>-n %s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>ALIGN_PART_CHUNK_SIZE</id>
            <name>Chunk_size</name>
            <help>The number of bytes of compressed reads file to give to a single align part.</help>
            <required>false</required>
            <defaultsTo>200000000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>
</alignerConfig>
