<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Sequence Variation Analyses with Goby</name>
    <id>SEQ_VAR_GOBY</id>
    <dbLegacyId>Compare sequence variants</dbLegacyId>
    <help>Compares groups of samples and produce output about sequence variants observed in the alignments. Implemented
        with Goby. Specific analysis depends on selected output format.
    </help>
    <version>1.2</version>
    <analysisType>SequenceVariants</analysisType>
    <minimumNumberOfGroups>1</minimumNumberOfGroups>
    <maximumNumberOfGroups>50</maximumNumberOfGroups>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesVariantCallingFormatOutput>true</producesVariantCallingFormatOutput>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <copyWeightFiles>false</copyWeightFiles>
    <requires>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20130404182251</versionAtLeast>
        </resource>
        <resource>
            <id>VCF_TOOLS</id>
            <versionAtLeast>0.1.10</versionAtLeast>
        </resource>
        <resource>
            <id>VARIANT_EFFECT_PREDICTOR</id>
            <versionAtLeast>2.8</versionAtLeast>
        </resource>
        <resource>
            <id>ANNOTATE_VCF</id>
            <versionAtLeast>1.0</versionAtLeast>
        </resource>
        <resource>
            <id>GOBY_INDEXED_GENOMES</id>
            <versionAtLeast>1.0</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="GLOBAL" key="h_vmem" value="18g"/>
        <need scope="GLOBAL" key="virtual_free" value="20g"/>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="8g"/>
        <need scope="PROCESS" key="virtual_free" value="8g"/>
        <need scope="PROCESS_JVM" value="6g"/>
        <need scope="COMBINE" key="excl" value="false"/>
        <need scope="COMBINE" key="h_vmem" value="50g"/>
        <need scope="COMBINE" key="virtual_free" value="50g"/>
        <need scope="COMBINE_JVM" value="45g"/>
    </runtime>

    <options>
        <option>
            <id>OUTPUT_FORMAT</id>
            <dbLegacyId>analysisType_compare_sequence_variants</dbLegacyId>
            <name>Type of analysis and output format</name>
            <help>Determines the type of sequence variation analysis to perform and the output format.</help>
            <required>true</required>
            <defaultsTo>GENOTYPES</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>GENOTYPES</id>
                    <name>genotypes</name>
                    <value>GENOTYPES</value>
                    <help>Calls genotypes at observed bases.</help>
                    <dbLegacyValue>genotypes</dbLegacyValue>
                </category>
                <category>
                    <id>ALLELE_FREQUENCIES</id>
                    <name>allele_frequencies</name>
                    <value>ALLELE_FREQUENCIES</value>
                    <help>Estimate allelic expression.</help>
                    <dbLegacyValue>allele-frequencies</dbLegacyValue>
                </category>
                <category>
                    <id>GROUP_COMPARISONS</id>
                    <name>group_comparisons</name>
                    <value>COMPARE_GROUPS</value>
                    <help>Compare groups of samples with allelic association test.</help>
                    <dbLegacyValue>group-comparison</dbLegacyValue>
                </category>
                <category>
                    <id>SOMATIC_VARIATIONS</id>
                    <name>somatic variations</name>
                    <value>SOMATIC_VARIATIONS</value>
                    <help>Discover somatic mutations. This output requires samples with germline DNA and DNA where
                        somatic changes may have occured. A covariates file must also be provided to indicate which
                        samples are of which kind. Please see
                        http://campagnelab.org/software/goby/tutorials/detecting-somatic-variations-with-goby-2-1-3/.
                    </help>
                </category>
            </categories>
            <autoFormat>true</autoFormat>
            <flagFormat>--format=%s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>REALIGN_AROUND_INDELS</id>
            <dbLegacyId>realignment_option</dbLegacyId>
            <name>Realign reads near indels</name>
            <help>When this option is active, reads are realigned around indels and this can help prevent alignment
                artifacts.
            </help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>CALL_INDELS</id>
            <name>Call indels</name>
            <help>When this option is active, indels are called and reported in the VCF output file. Please be advised
                that the VCF output may become incompatible with various tools, as rules for reporting indels in VCF are
                far from clearly described and various tools are known to interpret the VCF specification differently.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>FORCE_DIPLOID</id>
            <name>Diploid genome</name>
            <help>When this option is active, genotype calls are forced to be diploid. Use when you know that the
                genome the reads were generated from was diploid.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>ANNOTATE_VARIATIONS</id>
            <name>Annotate variations</name>
            <help>When this option is active, annotate variations with the Variant Effect Predictor. Not that positions
                that cannot be annotated may be removed from the output.
            </help>
            <required>true</required>
            <defaultsTo>true</defaultsTo>
            <type>BOOLEAN</type>
        </option>
        <option>
            <id>Q_VALUE_THRESHOLD</id>
            <name>q-value threshold</name>
            <help>Threshold on q-values to determine if the candidate result should be kept. A candidate is kept if any
                q-value is lower than the threshold.
            </help>
            <required>true</required>
            <defaultsTo>1.0</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>NUM_TOP_HITS</id>
            <name>Number of top hits</name>
            <help>Number of hits to report if no candidates has an adjusted p-value above the q-value threshold.</help>
            <required>true</required>
            <defaultsTo>10000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>MINIMUM_VARIATION_SUPPORT</id>
            <name>Minimum variation support</name>
            <help>Minimum number of reads that must have the variation for the variation to be reported in the output
            </help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>THRESHOLD_DISTINCT_READ_INDICES</id>
            <name>Minimum number of distinct read indices</name>
            <help>Number of distinct read indices a position has to have to be reported in the output.</help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option hiddenWhen="true">
            <id>ANNOTATIONS</id>
            <name>Annotations</name>
            <help>The annotation file to use to define regions.
            </help>
            <required>false</required>
            <defaultsTo>NONE</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>NONE</id>
                    <name>NONE</name>
                    <value>NONE</value>
                    <help>No annotations</help>
                </category>
            </categories>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>ONLY_NON_SYNONYMOUS</id>
            <name>Only non synonymous</name>
            <help>Report only non synonymous variations. When this option is checked, variations that do not
                change the protein sequence are not reported.
            </help>

            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
        </option>
        <option hiddenWhen="NOT matches(OUTPUT_FORMAT,SOMATIC_VARIATIONS)">
            <id>COVARIATE_INFO_URL</id>
            <name>Covariate info URL</name>
            <help>URL of a covariate information file. The URL should be publicly available and serve a TSV file. See
                http://campagnelab.org/software/goby/tutorials/detecting-somatic-variations-with-goby-2-1-3/ for the
                format expected in the TSV file.
            </help>
            <required>true</required>
            <defaultsTo>NONE</defaultsTo>
            <type>STRING</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>

    <outputSchema>
        <outputFile>
            <id>STATS_RESULTS_DB</id>
            <name>table of statistics</name>
            <required>true</required>
            <mimeType>application/x-sqlite3</mimeType>
            <tableName>stats</tableName>
            <filename>stats.db</filename>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains called
                variations.
            </help>
        </outputFile>
        <outputFile>
            <id>VARIANT_ANNOTATION_PREDICTOR_OUTPUT</id>
            <name>variant annotation predictor output</name>
            <required>true</required>
            <mimeType>application/lucene-index</mimeType>
            <tableName>vep</tableName>
            <filename>vep.lucene.index</filename>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains output form the
                Variant Annotation Predictor tool (VEP).
            </help>
        </outputFile>
        <outputFile>
            <id>STATS_RESULTS_LUCENE_INDEX</id>
            <name>table of statistics</name>
            <required>true</required>
            <mimeType>application/lucene-index</mimeType>
            <tableName>stats</tableName>
            <filename>stats.lucene.index</filename>
            <help>View the table of results in the interactive GobyWeb table browser. Table contains called variations.
            </help>
        </outputFile>
        <outputFile>
            <id>STATS_RESULTS</id>
            <name>VCF file</name>
            <required>true</required>
            <mimeType>text/variant-calling-format</mimeType>
            <filename>stats.vcf.gz</filename>
            <help>VCF file with results of called variations.</help>
        </outputFile>
        <outputFile>
            <id>STATS_RESULTS_INDEX</id>
            <name>VCF file index</name>
            <required>true</required>
            <mimeType>text/variant-calling-format-index</mimeType>
            <filename>stats.vcf.gz.tbi</filename>
            <help>VCF file index (produced with tabix).</help>
        </outputFile>
    </outputSchema>
</alignmentAnalysisConfig>
