<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Test directory output</name>
    <id>TEST_DIRECTORY_OUTPUT</id>
    <dbLegacyId>TEST_DIRECTORY_OUTPUT</dbLegacyId>
    <help>Testing output as directory.
    </help>
    <version>1.0</version>
    <uiTemplate>Analysis</uiTemplate>
    <analysisType>SequenceVariants</analysisType>
    <minimumNumberOfGroups>1</minimumNumberOfGroups>
    <maximumNumberOfGroups>10</maximumNumberOfGroups>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesTabDelimitedOutput>true</producesTabDelimitedOutput>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <copyWeightFiles>false</copyWeightFiles>

    <runtime>
        <need scope="GLOBAL" key="h_vmem" value="18G"/>
        <need scope="GLOBAL" key="virtual_free" value="20G"/>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="13G"/>
        <need scope="PROCESS" key="virtual_free" value="15G"/>
        <need scope="PROCESS_JVM" value="10G"/>
        <need scope="COMBINE" key="excl" value="false"/>
        <need scope="COMBINE" key="h_vmem" value="45G"/>
        <need scope="COMBINE" key="virtual_free" value="30G"/>
        <need scope="COMBINE_JVM" value="40G"/>
        <artifacts scope="SUBMIT" required="true"/>
    </runtime>
    <outputSchema>
        <outputFile>
            <id>GOBY_SBI</id>
            <name>.sbi/sbip files</name>
            <required>true</required>
            <mimeType>application/test-directory</mimeType>
            <filename>output-directory</filename>
            <help>Directory with .sbi .sbip files.</help>
        </outputFile>

    </outputSchema>
</alignmentAnalysisConfig>
