<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fileSetConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>PNG Image</name>
    <id>PNG</id>
    <help>Portable Network Graphics</help>
    <version>1.0</version>
    <mimeType>image/png</mimeType>
    <files>
        <selector matchAttribute="BASENAME">
            <id>PNG</id>
            <pattern>*.png</pattern>
            <mandatory>true</mandatory>
        </selector>
    </files>
    <attributes>
        <attribute name="BASENAME"/>
    </attributes>
</fileSetConfig>