<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fileSetConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Goby Index</name>
    <id>GOBY_INDEX</id>
    <help>Goby index format</help>
    <version>1.0</version>
    <mimeType>application/goby-index</mimeType>
    <files>
        <selector matchAttribute="BASENAME">
            <id>NAMES</id>
            <pattern>*.names</pattern>
            <mandatory>true</mandatory>
        </selector>
        <selector matchAttribute="BASENAME">
            <id>SIZES</id>
            <pattern>*.sizes</pattern>
            <mandatory>true</mandatory>
        </selector>
        <selector matchAttribute="BASENAME">
            <id>BASES</id>
            <pattern>*.bases</pattern>
            <mandatory>true</mandatory>
        </selector>
        <selector matchAttribute="BASENAME">
            <id>IGNORE</id>
            <pattern>*.ignore</pattern>
            <mandatory>true</mandatory>
        </selector>
    </files>
    <attributes>
        <attribute name="BASENAME"/>
        <attribute name="TAG"/>
        <attribute name="ORGANISM"/>
        <attribute name="GENOME_REFERENCE_ID"/>
    </attributes>
</fileSetConfig>
