<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fileSetConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Wig files produced by aligner</name>
    <id>ALIGNMENT_WIG</id>
    <help>Zip archive with wig files produced by an aligner</help>
    <version>1.0</version>
    <mimeType>application/x-gzip-compressed</mimeType>
    <files>
        <selector matchAttribute="BASENAME">
            <id>BED</id>
            <pattern>*-all.wig.gz</pattern>
            <mandatory>true</mandatory>
        </selector>
    </files>
    <attributes>
        <attribute name="BASENAME"/>
    </attributes>
</fileSetConfig>