<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<resourceConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>EdgeR script</name>
    <id>EDGE_R_SCRIPT</id>
    <help>Script that helps run EdgeR on table of counts data with group information.</help>
    <version>2013.05.17</version>
    <requires>
        <resource>
            <id>EDGER</id>
            <versionAtLeast>2.6.12.1</versionAtLeast>
        </resource>
    </requires>
    <files>
        <file>
            <id>R_SCRIPT</id>
            <filename>deAnalysisEdgeR.R</filename>
        </file>
        <file>
            <id>SETUP</id>
            <filename>edgeR-setup.sh</filename>
        </file>
    </files>
</resourceConfig>
