<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Sequence Variation Analyses with samtools</name>
    <id>SEQ_VAR_SAMTOOLS</id>
    <dbLegacyId>samtools mpileup</dbLegacyId>
    <help>Compares groups of samples and produce output about sequence variants observed in the alignments. Implemented
        with SAMTOOLS. Specific analysis depends on selected output format.
    </help>
    <version>1.0</version>
    <analysisType>SequenceVariants</analysisType>
    <minimumNumberOfGroups>1</minimumNumberOfGroups>
    <maximumNumberOfGroups>2</maximumNumberOfGroups>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <supportsBAMAlignments>true</supportsBAMAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesVariantCallingFormatOutput>true</producesVariantCallingFormatOutput>
    <copyWeightFiles>false</copyWeightFiles>
    <requires>
        <resource>
            <id>SAMTOOLS</id>
            <versionAtLeast>0.1.14</versionAtLeast>
        </resource>
        <resource>
            <id>ANNOTATE_VCF</id>
            <versionAtLeast>1.0</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="GLOBAL" key="h_vmem" value="18g"/>
        <need scope="GLOBAL" key="virtual_free" value="20g"/>
        <need scope="PROCESS" key="excl" value="true"/>
        <need scope="PROCESS" key="h_vmem" value="25g"/>
        <need scope="PROCESS" key="virtual_free" value="25g"/>
        <need scope="PROCESS_JVM" value="4g"/>
        <need scope="COMBINE" key="excl" value="false"/>
        <need scope="COMBINE" key="h_vmem" value="23g"/>
        <need scope="COMBINE" key="virtual_free" value="23g"/>
        <need scope="COMBINE_JVM" value="20g"/>
    </runtime>
    <options>
        <option>
            <id>OUTPUT_FORMAT</id>
            <dbLegacyId>analysisType_samtools_mpileup</dbLegacyId>
            <name>Type of analysis and output format</name>
            <help>Determines the type of sequence variation analysis to perform and the output format.</help>
            <required>true</required>
            <defaultsTo>GENOTYPES</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>GENOTYPES</id>
                    <name>genotypes</name>
                    <value>GENOTYPES</value>
                    <help>Calls genotypes at observed bases.</help>
                    <dbLegacyValue>genotypes</dbLegacyValue>
                </category>
                <category>
                    <id>GROUP_COMPARISONS</id>
                    <name>group_comparisons</name>
                    <value>GROUP_COMPARISONS</value>
                    <help>Compare groups of samples with allelic association test.</help>
                    <dbLegacyValue>group-comparison</dbLegacyValue>
                </category>
            </categories>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>ANNOTATE_VARIATIONS</id>
            <name>Annotate variations</name>
            <help>When this option is active, annotate variations with the Variant Effect Predictor. Not that positions
                that cannot be annotated may be removed from the output.
            </help>
            <required>true</required>
            <defaultsTo>true</defaultsTo>
            <type>BOOLEAN</type>
        </option>
        <option>
            <id>NUM_TOP_HITS</id>
            <name>Number of top hits</name>
            <help>Number of hits to report if no candidates has an adjusted p-value above the q-value threshold.</help>
            <required>true</required>
            <defaultsTo>10000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>

</alignmentAnalysisConfig>
