<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<taskConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Process Reads</name>
    <id>PROCESS_PAIRED_READS_TASK</id>
    <help>Process paired read files after upload to convert them to compact reads.</help>
    <version>1.0</version>
    <requires>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20140317155722</versionAtLeast>
        </resource>
        <resource>
            <id>PROCESS_PAIRED_READS</id>
            <versionAtLeast>1.0</versionAtLeast>
        </resource>
        <resource>
            <id>BASH_LIBRARY</id>
            <versionAtLeast>1.0</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="11G"/>
        <need scope="PROCESS" key="virtual_free" value="11G"/>
        <need scope="INSTALL_ARTIFACTS" key="excl" value="true"/>
        <need scope="INSTALL_ARTIFACTS" key="h_vmem" value="4G"/>
        <need scope="INSTALL_ARTIFACTS" key="virtual_free" value="6G"/>
        <need scope="PROCESS_JVM" value="8g"/>
    </runtime>
    <options>
        <!--validation>
            <rule validWhen="(matches(ANNOTATION_SOURCE,GENE_EXON_OTHER) AND (value(ESTIMATE_COUNTS_GENE) OR value(ESTIMATE_COUNTS_EXON) OR value(ESTIMATE_COUNTS_OTHER))) OR NOT (matches(ANNOTATION_SOURCE,GENE_EXON_OTHER))"
                  error="at least one of gene exon, other must be selected when ANNOTATION_SOURCE is gene/exon/other"/>
            <rule validWhen="(matches(WEIGHT_ADJUSTMENT,GC_CONTENT) AND NOT matches(BIAS_ADJUSTMENT_FORMULA,NONE)) OR NOT matches(WEIGHT_ADJUSTMENT,GC_CONTENT)"
                  error="A GC content adjustment formula must be selected when GC content weight adjustment is selected."/>
        </validation-->
        <option>
            <id>SAMPLE_NAME</id>
            <name>Sample Name.</name>
            <help>The name of the sample that should be generated from this upload, or a sample name prefix that will be
                used to generate multiple sample names.
            </help>
            <required>false</required>
            <defaultsTo>MySamples</defaultsTo>
            <type>STRING</type>
        </option>
        <option>
            <id>TAG</id>
            <name>Tag for the new sample.</name>
            <help>The tag will be associated with the sample.
            </help>
            <required>true</required>
            <defaultsTo></defaultsTo>
            <type>STRING</type>
        </option>
        <option>
            <id>READS_COLOR_SPACE</id>
            <name>Color-space.</name>
            <help>Indicates if the reads are color-space (TRUE) or not (FALSE).
            </help>
            <required>false</required>
            <defaultsTo>FALSE</defaultsTo>
            <type>BOOLEAN</type>
        </option>
        <option>
            <id>READS_PLATFORM</id>
            <name>Sequencing Platform.</name>
            <help>The sequencing platform that was used to sequence these reads..
            </help>
            <required>false</required>
            <defaultsTo>Illumina</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>Illumina</id>
                    <name>Gene/Exon/Other</name>
                    <value>Illumina</value>
                    <help>Reads were sequenced on an Illumina instrument</help>
                </category>
                <category>
                    <id>Helicos</id>
                    <name>Helicos</name>
                    <value>Helicos</value>
                    <help>Reads were sequenced on a Heliscope instrument.</help>
                </category>
                <category>
                    <id>Roche454</id>
                    <name>Roche 454</name>
                    <value>Roche454</value>
                    <help>Reads were sequenced on a Roche 454 instrument.</help>
                </category>
                <category>
                    <id>SOLID</id>
                    <name>Solid</name>
                    <value>SOLID</value>
                    <help>Reads were sequenced on a SOLID instrument.</help>
                </category>
            </categories>
        </option>
        <option>
            <id>QUALITY_ENCODING</id>
            <name>Quality Encoding.</name>
            <help>The quality encoding for the uploaded reads.</help>
            <required>false</required>
            <defaultsTo>Sanger</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>Sanger</id>
                    <name>Phred/Sanger.</name>
                    <value>Sanger</value>
                    <help>The Phred SANGER scale.</help>
                </category>
                <category>
                    <id>Illumina</id>
                    <name>Illumina pipeline 1.3+</name>
                    <value>Illumina</value>
                    <help>The scale used with the Illumina 1.3+ basecalling pipelines, until the switch to Sanger
                        scale.
                    </help>
                </category>
                <category>
                    <id>Solexa</id>
                    <name>Solexa</name>
                    <value>Solexa</value>
                    <help>The SOLEXA scale.</help>
                </category>
            </categories>
        </option>

    </options>
    <executableIOSchema>
        <input>
            <inputSlot>
                <name>UPLOADS_FILES</name>
                <type maxOccurs="unbounded" minOccurs="1">
                    <id>SUPPORTED_INPUT_READS</id>
                    <versionAtLeast>1.0</versionAtLeast>
                </type>
            </inputSlot>
            <inputSlot>
                <name>UPLOAD_MERGE_PLAN</name>
                <!-- The Details file that tells us how input files needto be merged,
                               concatenated, etc. -->
                <type maxOccurs="1" minOccurs="1">
                    <id>GOBYWEB_MERGE_PLAN_FILE</id>
                    <versionAtLeast>1.0</versionAtLeast>
                </type>
            </inputSlot>
        </input>
        <output>
            <outputSlot>
                <name>COMPACT_READ_FILES</name>
                <type maxOccurs="unbounded" minOccurs="1">
                    <id>COMPACT_READS</id>
                    <versionExactly>1.0</versionExactly>
                </type>
            </outputSlot>
            <outputSlot>
                <name>READ_QUALITY_STATS</name>
                <type>
                    <id>READ_QUALITY_STATS</id>
                    <versionExactly>1.0</versionExactly>
                </type>
            </outputSlot>
            <outputSlot>
                <name>WEIGHT_FILES</name>
                <type>
                    <id>WEIGHT_FILES</id>
                    <versionAtLeast>1.0</versionAtLeast>
                </type>
            </outputSlot>
            <outputSlot>
                <name>OUTPUT_STATS</name>
                <type maxOccurs="1" minOccurs="1">
                    <id>READS_STATS_PROPERTIES_FILE</id>
                    <versionAtLeast>1.0</versionAtLeast>
                </type>
            </outputSlot>
        </output>
    </executableIOSchema>

</taskConfig>