<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fileSetConfig xsi:noNamespaceSchemaLocation="../../../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>GZ Compressed Archive</name>
    <id>GZ</id>
    <help>GZ Compressed Archive</help>
    <version>1.0</version>
    <files>
        <selector matchAttribute="basename">
            <id>GZ</id>
            <pattern>*.gz</pattern>
            <mandatory>true</mandatory>
        </selector>
    </files>
    <attributes>
        <attribute name="basename"/>
    </attributes>
</fileSetConfig>