<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignmentAnalysisConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Sequence Variation to .sbi/.sbip</name>
    <id>SEQUENCE_BASE_INFORMATION</id>
    <dbLegacyId>SEQUENCE_BASE_INFORMATION</dbLegacyId>
    <help>Produce sbi/.sbip files from Goby alignments.
    </help>
    <version>1.5</version>
    <analysisType>SequenceVariants</analysisType>
    <minimumNumberOfGroups>1</minimumNumberOfGroups>
    <maximumNumberOfGroups>10</maximumNumberOfGroups>
    <supportsTranscriptAlignments>false</supportsTranscriptAlignments>
    <splitProcessCombine>true</splitProcessCombine>
    <producesTabDelimitedOutput>true</producesTabDelimitedOutput>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <copyWeightFiles>false</copyWeightFiles>
    <requires>
        <resource>
            <id>GOBY3</id>
            <versionExactly>3.2.3</versionExactly>
        </resource>
        <resource>
            <id>DLVARIATION</id>
            <versionExactly>1.2.3</versionExactly>
        </resource>
        <resource>
            <id>GOBY_INDEXED_GENOMES</id>
            <versionAtLeast>1.0.1</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="GLOBAL" key="h_vmem" value="18G"/>
        <need scope="GLOBAL" key="virtual_free" value="20G"/>
        <need scope="PROCESS" key="excl" value="false"/>
        <need scope="PROCESS" key="h_vmem" value="13G"/>
        <need scope="PROCESS" key="virtual_free" value="15G"/>
        <need scope="PROCESS_JVM" value="10G"/>
        <need scope="COMBINE" key="excl" value="false"/>
        <need scope="COMBINE" key="h_vmem" value="45G"/>
        <need scope="COMBINE" key="virtual_free" value="30G"/>
        <need scope="COMBINE_JVM" value="40G"/>
        <artifacts scope="SUBMIT" required="true"/>
    </runtime>

    <options>
        <option>
            <id>OUTPUT_FORMAT</id>
            <dbLegacyId>analysisType_compare_sequence_variants</dbLegacyId>
            <name>Type of analysis and output format</name>
            <help>Determines the type of sequence variation analysis to perform and the output format.</help>
            <required>true</required>
            <defaultsTo>GENOTYPES</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>SEQUENCE_BASE_INFORMATION</id>
                    <name>sbi/sbip</name>
                    <value>SEQUENCE_BASE_INFORMATION</value>
                    <help>Produce sbi/sbip files for deep learning training.</help>
                    <dbLegacyValue>sbi_sbip</dbLegacyValue>
                </category>
            </categories>
            <autoFormat>true</autoFormat>
            <flagFormat>--format=%s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>REALIGN_AROUND_INDELS</id>
            <dbLegacyId>realignment_option</dbLegacyId>
            <name>Realign reads near indels</name>
            <help>When this option is active, reads are realigned around indels and this can help prevent alignment
                artifacts.
            </help>
            <required>true</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>CALL_INDELS</id>
            <name>Call indels</name>
            <help>When this option is active, indels are called and reported in the VCF output file. Please be advised
                that the VCF output may become incompatible with various tools, as rules for reporting indels in VCF are
                far from clearly described and various tools are known to interpret the VCF specification differently.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>FORCE_DIPLOID</id>
            <name>Diploid genome</name>
            <help>When this option is active, genotype calls are forced to be diploid. Use when you know that the
                genome the reads were generated from was diploid.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>MINIMUM_VARIATION_SUPPORT</id>
            <name>Minimum variation support</name>
            <help>Minimum number of reads that must have the variation for the variation to be reported in the output
            </help>
            <required>true</required>
            <defaultsTo>0</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>THRESHOLD_DISTINCT_READ_INDICES</id>
            <name>Minimum number of distinct read indices</name>
            <help>Number of distinct read indices a position has to have to be reported in the output.</help>
            <required>true</required>
            <defaultsTo>1</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>RECORDS_PER_BUCKET</id>
            <name>Number of records per bucket</name>
            <help>Shuffling phase: number of records per bucket. Large bucket sizes require more memory for sorting each
                bucket, but require less files to complete shuffling.
            </help>
            <required>true</required>
            <defaultsTo>500000</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>RANDOM_SEED</id>
            <name>Random Seed</name>
            <help>Seed use to sample records. Only used when sampling rate is lower than 1.0.
            </help>
            <required>true</required>
            <defaultsTo>2390239</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>SAMPLING_RATE</id>
            <name>Sampling Rate</name>
            <help>Ratio of sites to write to output. The default writes all sites. Use 0.1 to sample 10 per cent of
                sites.
            </help>
            <required>true</required>
            <defaultsTo>1.0</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>STRATEGY</id>
            <name>Strategy classname</name>
            <help>Classname of the stragegy to mutate records. The strategy must match the number of samples/groups. Use PAIR_ for two samples, TRIO for three samples.</help>
            <required>true</required>
            <defaultsTo>PAIR_ONE_CANONICAL</defaultsTo>
            <type>CATEGORY</type>
            <categories>
                <category>
                    <id>PAIR_ONE_CANONICAL</id>
                    <name>OneSampleCanonicalSimulationStrategy</name>
                    <value>org.campagnelab.dl.somatic.intermediaries.OneSampleCanonicalSimulationStrategy</value>
                    <help>Requires the germline sample to be canonical.</help>
                </category>
                <category>
                    <id>PAIR_TWO_CANONICAL</id>
                    <name>TwoSampleCanonicalSimulationStrategy</name>
                    <value>org.campagnelab.dl.somatic.intermediaries.TwoSampleCanonicalSimulationStrategy</value>
                    <help>Requires both somatic and germline samples to be canonical.</help>
                </category>
                <category>
                    <id>TRIO_MENDELIAN</id>
                    <name>SimulationStrategyImplTrio</name>
                    <value>org.campagnelab.dl.somatic.intermediaries.SimulationStrategyImplTrio</value>
                    <help>Requires canonical sites to follow mendelian inheritance rules among mother father
                        offspring.</help>
                </category>

            </categories>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>ANNOTATIONS</id>
            <name>Gold Standard Annotations</name>
            <help>Annotations in tab delimited format: chromosome tab position for location of true somatic variations.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option hiddenWhen="NOT value(ANNOTATIONS)">
            <id>ANNOTATION_FILE_URL</id>
            <name>Annotations File URL</name>
            <help>URL to download annotation file.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>STRING</type>
            <autoFormat>false</autoFormat>
        </option>
        <option hiddenWhen="NOT value(ANNOTATIONS)">
            <id>ANNOTATION_SAMPLING_RATE</id>
            <name>Annotation Sampling Rate</name>
            <help>Ratio of non-annotated sites to write to output. The default writes all sites. Use 0.001 to sample 0.1% per
                cent of non-annotated sites.
            </help>
            <required>true</required>
            <defaultsTo>1.0</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>false</autoFormat>
        </option>
        <option>
            <id>GERMLINE_VARMAP</id>
            <name>Genotype Varmap</name>
            <help>True Genotypes in Goby varmap format. Must be produced with the vcf-to-varmap mode.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>BOOLEAN</type>
            <autoFormat>false</autoFormat>
        </option>
        <option hiddenWhen="NOT value(GERMLINE_VARMAP)">
            <id>VARMAP_FILE_URL</id>
            <name>Varmap File URL</name>
            <help>URL to download varmap file.
            </help>
            <required>false</required>
            <defaultsTo>false</defaultsTo>
            <type>STRING</type>
            <autoFormat>false</autoFormat>
        </option>
        <option hiddenWhen="NOT value(GERMLINE_VARMAP)">
            <id>VARMAP_SAMPLING_RATE</id>
            <name>Varmap Sampling Rate</name>
            <help>Ratio of non-true variants to write to output. Use 0.02 to sample 2% per cent of non-variant sites.
            </help>
            <required>true</required>
            <defaultsTo>0.02</defaultsTo>
            <type>DOUBLE</type>
            <autoFormat>false</autoFormat>
        </option>
    </options>

    <outputSchema>
        <outputFile>
            <id>MUTATED_RANDOMIZED_SBI</id>
            <name>mutated randomized</name>
            <required>false</required>
            <mimeType>application/goby_sbi</mimeType>
            <filename>mutated-randomized.sbi*</filename>
            <help>View the mutated and randomized .sbi/.sbip files.</help>
        </outputFile>
        <outputFile>
            <id>OUT_SBI</id>
            <name>raw</name>
            <required>true</required>
            <mimeType>application/goby_sbi</mimeType>
            <filename>out.sbi*</filename>
            <help>View the .sbi/.sbip files.</help>
        </outputFile>
        <outputFile>
            <id>ANNOTATED_SBI</id>
            <name>annotated</name>
            <required>true</required>
            <mimeType>application/goby_sbi</mimeType>
            <filename>out-annotated.sbi*</filename>
            <help>View the annotated .sbi/.sbip files. Typically annotated with gold-standard somatic variations to evaluate performance.</help>
        </outputFile>

    </outputSchema>
</alignmentAnalysisConfig>
