<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<resourceConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Trinity</name>
    <id>TRINITY</id>
        <help>Trinity de novo assembler. See http://trinityrnaseq.sourceforge.net/.</help>
    <version>20120518</version>
    <requires>
        <resource>
            <id>FETCH_URL</id>
            <versionAtLeast>1.2</versionAtLeast>
        </resource>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20120605173944</versionAtLeast>
        </resource>
    </requires>
    <artifacts>
        <artifact id="TRINITY_2012_05_18" order="1"/>
    </artifacts>
    <files>
         <file>
            <id>SHELL_SCRIPT</id>
            <filename>script-trinity.sh</filename>
        </file>
    </files>
</resourceConfig>
