<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2011-2012  by Cornell University  and the  Cornell Research Foundation,
  ~ Inc. All Rights Reserved.
  ~
  ~ GobyWeb plugins  are released  under the LGPL3 license,  unless  otherwise specified
  ~ by the license of a specific plugin. See the file LGPL3.license in this distribution
  ~ for a copy of the LGPL license.
  ~
  ~ When a plugin is not released under the LGPL3 license,  the comments  at the top  of
  ~ the plugin's config.xml will indicate how that specific plugin is released/licensed.
  -->
<alignerConfig xsi:noNamespaceSchemaLocation="../../../schemas/plugins.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>STAR 2.30 (Goby output)</name>
    <id>STAR22_GOBY</id>
    <dbLegacyId>STAR (Goby native)</dbLegacyId>
    <help>STAR writing to Goby output. See aligner information at http://gingeraslab.cshl.edu/STAR/.</help>
    <version>1.2</version>
    <supportsColorSpace>false</supportsColorSpace>
    <supportsGobyAlignments>true</supportsGobyAlignments>
    <supportsPairedEndAlignments>true</supportsPairedEndAlignments>
    <supportsBAMAlignments>false</supportsBAMAlignments>
    <supportsBisulfiteConvertedReads>true</supportsBisulfiteConvertedReads>
    <supportsGobyReads>true</supportsGobyReads>
    <supportsFastqReads>true</supportsFastqReads>
    <supportsFastaReads>true</supportsFastaReads>
    <indexDirectory>%NODE_LOCAL_DATA_ROOT%/%VERSION%/%ORGANISM%/%SPACE%/star/index</indexDirectory>
    <requires>
        <resource>
            <id>STAR</id>
            <versionAtLeast>2.3.0.6</versionAtLeast>
        </resource>
        <resource>
            <id>GOBY</id>
            <versionAtLeast>20120620120930</versionAtLeast>
        </resource>
        <resource>
            <id>SAMTOOLS</id>
            <versionAtLeast>0.1.18.1</versionAtLeast>
        </resource>
    </requires>
    <runtime>
        <need scope="ALIGN" key="excl" value="true"/>
        <need scope="ALIGN" key="h_vmem" value="36G"/>
        <need scope="ALIGN" key="virtual_free" value="36G"/>
        <need scope="INSTALL_ARTIFACTS" key="excl" value="true"/>
        <need scope="INSTALL_ARTIFACTS" key="h_vmem" value="36G"/>
        <need scope="INSTALL_ARTIFACTS" key="virtual_free" value="36G"/>
        <!--need scope="ALIGN" key="os" value="rhel5.4"/-->
        <need scope="ALIGN_JVM" value="4G"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="excl" value="false"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="h_vmem" value="11G"/>
        <need scope="ALIGNMENT_POST_PROCESSING" key="virtual_free" value="12G"/>
        <need scope="ALIGNMENT_POST_PROCESSING_JVM" value="8G"/>
    </runtime>
    <options>
        <!--option>
            <id>OUT_FILTER_MISMATCH_N_MAX</id>
            <dbLegacyId>outFilterMismatchNmax</dbLegacyId>
            <name>outFilterMismatchNmax</name>
            <help>alignment will be output only if it has fewer mismatches than this value
            </help>
            <required>true</required>
            <defaultsTo>10</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>true</autoFormat>
            <flagFormat>&dash;&dash;outFilterMismatchNmax %s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option-->
        <option>
            <id>AMBIGUITY_THRESHOLD</id>
            <dbLegacyId>ambiguityThreshold</dbLegacyId>
            <name>Ambiguity threshold</name>
            <help>The maximum number of reference sequence locations that can be matched for a read to be considered
                non-ambiguous. Please note that STAR currently discards/does not output alignments found to strictly
                match more than the specified ambiguity threshold.
            </help>
            <required>true</required>
            <defaultsTo>10</defaultsTo>
            <type>INTEGER</type>
            <autoFormat>true</autoFormat>
            <flagFormat>-n %s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>
        <option>
            <id>ALIGNER_OPTIONS</id>
            <dbLegacyId>alignerAdvancedOptions</dbLegacyId>
            <name>Other aligner options</name>
            <help>Provide any additional STAR option here following the syntax expected by STAR.</help>
            <required>false</required>
            <defaultsTo></defaultsTo>
            <type>STRING</type>
            <flagFormat>%s</flagFormat>
            <includeSpaces>true</includeSpaces>
        </option>

    </options>

</alignerConfig>
